.message-list {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
  /* flex-shrink: ; */
}
.message-item {
  flex-grow: 1;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(40, 0, 140);
  box-shadow: 0 0 0.5em 0.1em rgb(100, 100, 140);
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.message-body {
  margin-top: 10px;
}
.empty-message {
  text-align: center;
  padding: 20px;
}
.title {
  font-size: 1.5em;
  font-family: arial;
  font-weight: 600;
}
.back-link {
  font-size: 1em;
  display: inline-block;
  margin: 0 1em;
}
